// Core variables and mixins
@import "variables";
@import "mixins";
@import "spectre";
/*! D1 Ventures | Inspired by Grant Hummer http://www.granthummer.com/, but written in pure CSS */
// Layout
body {
  background: $dark-color;
  color: $light-color;
  overflow: hidden;
}

.d1-logo {
  display: block;
  height: 3rem;
  margin: 10vh auto;
  width: 3rem;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh auto;
  
  .grid-row {
    color: $light-color;
    display: flex;
    justify-content: center;
    
    &:focus,
    &:hover {
      text-decoration: none;

      .grid-s {
        color: $primary-color;
      }
    }

    .grid-col {
      font-size: .8rem;
      font-weight: 700;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      overflow: hidden;
      position: relative;
      width: 1rem;
  
      &:hover {
        &::before {
          animation: mousehover .5s ease-in 0s 2 !important;
          content: "";
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}

// Animations
.grid-row {
  .grid-brand {
    &::before {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .grid-col {
    &::before {
      content: "";
      position: absolute;
      text-align: center;
      z-index: 1;
    }
  }

  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      .grid-r {
        @for $j from 1 through 25 {
          &:nth-child(#{$j}) {
            &::before {
              animation: a#{$j * $i % 4} .5s ease-in #{(random(100)/200)}s 1;
            }
          }
        }
      }
    }
  }
}

// Brand animations
.grid-brand {
  @for $i from 5 through 17 {
    &:nth-child(#{$i}) {
      &::before {
        animation: b#{$i - 4} .5s ease-in .5s 1 !important;
      }
    }
  }
}

@keyframes mousehover {
  0% {
    background: $dark-color;
    content: "D";
  }
  10% {
    content: "1";
  }
  20% {
    content: "V";
  }
  30% {
    content: "E";
  }
  40% {
    content: "N";
  }
  50% {
    content: "T";
  }
  60% {
    content: "U";
  }
  70% {
    content: "R";
  }
  80% {
    content: "E";
  }
  90% {
    background: $dark-color;
    content: "S";
  }
  100% {
    background: transparent;
    content: "";
  }
}

@keyframes a0 {
  0% {
    background: $dark-color;
    content: "W";
  }
  10% {
    content: "I";
  }
  20% {
    content: "N";
  }
  30% {
    content: "K";
  }
  40% {
    content: "R";
  }
  50% {
    content: "Y";
  }
  60% {
    content: "P";
  }
  70% {
    content: "T";
  }
  80% {
    content: "O";
  }
  90% {
    content: "";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes a1 {
  0% {
    background: $dark-color;
    content: "B";
  }
  10% {
    content: "L";
  }
  20% {
    content: "O";
  }
  30% {
    content: "C";
  }
  40% {
    content: "K";
  }
  50% {
    content: "1";
  }
  60% {
    content: "2";
  }
  70% {
    content: "3";
  }
  80% {
    content: "C";
  }
  90% {
    content: "N";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes a2 {
  0% {
    background: $dark-color;
    content: "D";
  }
  10% {
    content: "A";
  }
  20% {
    content: "P";
  }
  30% {
    content: "P";
  }
  40% {
    content: "R";
  }
  50% {
    content: "A";
  }
  60% {
    content: "N";
  }
  70% {
    content: "K";
  }
  80% {
    content: "D";
  }
  90% {
    content: "1";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes a3 {
  0% {
    background: $dark-color;
    content: "C";
  }
  10% {
    content: "H";
  }
  20% {
    content: "A";
  }
  30% {
    content: "I";
  }
  40% {
    content: "N";
  }
  50% {
    content: "";
  }
  60% {
    content: "N";
  }
  70% {
    content: "E";
  }
  80% {
    content: "W";
  }
  90% {
    content: "S";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes a4 {
  0% {
    background: $dark-color;
    content: "C";
  }
  10% {
    content: "R";
  }
  20% {
    content: "Y";
  }
  30% {
    content: "P";
  }
  40% {
    content: "T";
  }
  50% {
    content: "O";
  }
  60% {
    content: "P";
  }
  70% {
    content: "E";
  }
  80% {
    content: "D";
  }
  90% {
    content: "I";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes b1 {
  0% {
    background: $dark-color;
    content: "E";
  }
  10% {
    content: "E";
  }
  20% {
    content: "A";
  }
  30% {
    content: "I";
  }
  40% {
    content: "A";
  }
  50% {
    content: "I";
  }
  60% {
    content: "E";
  }
  70% {
    content: "1";
  }
  100% {
    background: $dark-color;
    content: "1";
  }
}

@keyframes b2 {
  0% {
    background: $dark-color;
    content: "F";
  }
  10% {
    content: "C";
  }
  20% {
    content: "O";
  }
  30% {
    content: "S";
  }
  40% {
    content: "P";
  }
  50% {
    content: "G";
  }
  60% {
    content: "X";
  }
  70% {
    content: "";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes b3 {
  0% {
    background: $dark-color;
    content: "I";
  }
  10% {
    content: "E";
  }
  20% {
    content: "";
  }
  30% {
    content: "T";
  }
  40% {
    content: "P";
  }
  50% {
    content: "I";
  }
  60% {
    content: "";
  }
  70% {
    content: "V";
  }
  100% {
    background: $dark-color;
    content: "V";
  }
}

@keyframes b4 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "N";
  }
  20% {
    content: "";
  }
  30% {
    content: "R";
  }
  40% {
    content: "";
  }
  50% {
    content: "T";
  }
  60% {
    content: "";
  }
  70% {
    content: "E";
  }
  100% {
    background: $dark-color;
    content: "E";
  }
}

@keyframes b5 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "T";
  }
  20% {
    content: "";
  }
  30% {
    content: "I";
  }
  40% {
    content: "";
  }
  50% {
    content: "A";
  }
  60% {
    content: "";
  }
  70% {
    content: "N";
  }
  100% {
    background: $dark-color;
    content: "N";
  }
}

@keyframes b6 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "R";
  }
  20% {
    content: "";
  }
  30% {
    content: "B";
  }
  40% {
    content: "";
  }
  50% {
    content: "L";
  }
  60% {
    content: "";
  }
  70% {
    content: "T";
  }
  100% {
    background: $dark-color;
    content: "T";
  }
}

@keyframes b7 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "A";
  }
  20% {
    content: "";
  }
  30% {
    content: "U";
  }
  40% {
    content: "";
  }
  50% {
    content: "A";
  }
  60% {
    content: "";
  }
  70% {
    content: "U";
  }
  100% {
    background: $dark-color;
    content: "U";
  }
}

@keyframes b8 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "L";
  }
  20% {
    content: "";
  }
  30% {
    content: "T";
  }
  40% {
    content: "";
  }
  50% {
    content: "S";
  }
  60% {
    content: "";
  }
  70% {
    content: "R";
  }
  100% {
    background: $dark-color;
    content: "R";
  }
}

@keyframes b9 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "I";
  }
  20% {
    content: "";
  }
  30% {
    content: "E";
  }
  40% {
    content: "";
  }
  50% {
    content: "S";
  }
  60% {
    content: "";
  }
  70% {
    content: "E";
  }
  100% {
    background: $dark-color;
    content: "E";
  }
}

@keyframes b10 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "Z";
  }
  20% {
    content: "";
  }
  30% {
    content: "D";
  }
  40% {
    content: "";
  }
  50% {
    content: "E";
  }
  60% {
    content: "";
  }
  70% {
    content: "S";
  }
  100% {
    background: $dark-color;
    content: "S";
  }
}

@keyframes b11 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "E";
  }
  20% {
    content: "";
  }
  30% {
    content: "";
  }
  40% {
    content: "";
  }
  50% {
    content: "T";
  }
  60% {
    content: "";
  }
  70% {
    content: "";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}

@keyframes b12 {
  0% {
    background: $dark-color;
    content: "";
  }
  10% {
    content: "D";
  }
  20% {
    content: "";
  }
  30% {
    content: "";
  }
  40% {
    content: "";
  }
  50% {
    content: "S";
  }
  60% {
    content: "";
  }
  70% {
    content: "";
  }
  100% {
    background: $dark-color;
    content: "";
  }
}