extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'D1 Ventures'
  - var description = 'D1 Ventures - Powering the Future of Open Economy'

block content
  #hero.section.section-hero
    .container.grid-sm.text-center
      h1.text-assistive.text-center D1 Ventures - Powering the Future of Open Economy
      img.d1-logo(src="assets/img/d1-logo.png" alt="D1 Ventures")
      .grid
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        a.grid-row(href="https://d1.ventures" title="D1 Ventures Website")
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-brand.grid-s D
          .grid-col.grid-brand.grid-s 1
          .grid-col.grid-brand
          .grid-col.grid-brand.grid-s V
          .grid-col.grid-brand.grid-s E
          .grid-col.grid-brand.grid-s N
          .grid-col.grid-brand.grid-s T
          .grid-col.grid-brand.grid-s U
          .grid-col.grid-brand.grid-s R
          .grid-col.grid-brand.grid-s E
          .grid-col.grid-brand.grid-s S
          .grid-col.grid-brand
          .grid-col.grid-brand
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r P
          .grid-col.grid-r O
          .grid-col.grid-r W
          .grid-col.grid-r E
          .grid-col.grid-r R
          .grid-col.grid-r I
          .grid-col.grid-r N
          .grid-col.grid-r G
          .grid-col.grid-r
          .grid-col.grid-r T
          .grid-col.grid-r H
          .grid-col.grid-r E
          .grid-col.grid-r
          .grid-col.grid-r F
          .grid-col.grid-r U
          .grid-col.grid-r T
          .grid-col.grid-r U
          .grid-col.grid-r R
          .grid-col.grid-r E
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r O
          .grid-col.grid-r F
          .grid-col.grid-r
          .grid-col.grid-r O
          .grid-col.grid-r P
          .grid-col.grid-r E
          .grid-col.grid-r N
          .grid-col.grid-r
          .grid-col.grid-r E
          .grid-col.grid-r C
          .grid-col.grid-r O
          .grid-col.grid-r N
          .grid-col.grid-r O
          .grid-col.grid-r M
          .grid-col.grid-r Y
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        a.grid-row(href="https://twitter.com/d1ventures" target="_blank" rel="noopener" title="D1 Ventures Twitter")
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s W
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s R
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        a.grid-row(href="https://medium.com/d1ventures" target="_blank" rel="noopener" title="D1 Ventures Medium")
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r.grid-s M
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s D
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s U
          .grid-col.grid-r.grid-s M
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        a.grid-row(href="https://www.youtube.com/channel/UCx0lDPl_Z-Y7CmwpC2OMV5A/" target="_blank" rel="noopener" title="D1 Ventures YouTube")
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r.grid-s Y
          .grid-col.grid-r.grid-s O
          .grid-col.grid-r.grid-s U
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s U
          .grid-col.grid-r.grid-s B
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        a.grid-row(href="mailto:hello@d1.ventures" title="D1 Ventures Email")
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s M
          .grid-col.grid-r.grid-s A
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s L
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
        .grid-row
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r
          .grid-col.grid-r

      //-.d1-reports.text-bold.text-left
        p REPORTS
        p
          a(href="https://docsend.com/view/yv3vcritmcvjnmg9" target="_blank" rel="noopener" title="The Layer1 landscape & look into NEAR") The Layer1 landscape & look into NEAR 

      small.text-center
        | Copyright &copy; 2020 
        span.text-bold D1 Ventures
        | .
        
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-105874577-7')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-105874577-7');
