extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'D1 Ventures'
  - var description = 'D1 Ventures'

block content
  #hero.section.section-hero
    .container.grid-lg.text-center
      h1.text-assistive D1 Ventures
      img.d1-logo(src="assets/img/d1-logo.png" alt="D1 Ventures")
      .grid
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        a.grid-row(href="https://d1.ventures" title="D1 Ventures Website")
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-brand.grid-s D
          .grid-col.grid-brand.grid-s 1
          .grid-col.grid-brand .
          .grid-col.grid-brand.grid-s V
          .grid-col.grid-brand.grid-s E
          .grid-col.grid-brand.grid-s N
          .grid-col.grid-brand.grid-s T
          .grid-col.grid-brand.grid-s U
          .grid-col.grid-brand.grid-s R
          .grid-col.grid-brand.grid-s E
          .grid-col.grid-brand.grid-s S
          .grid-col.grid-brand .
          .grid-col.grid-brand .
          .grid-col.grid-r .
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        a.grid-row(href="https://twitter.com/d1ventures" target="_blank" rel="noopener" title="D1 Ventures Twitter")
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s W
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s T
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s R
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        a.grid-row(href="https://www.linkedin.com" target="_blank" rel="noopener" title="D1 Ventures LinkedIn")
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r.grid-s L
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s N
          .grid-col.grid-r.grid-s K
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s D
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s N
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        a.grid-row(href="https://www.chainnews.com" target="_blank" rel="noopener" title="D1 Ventures Email Address")
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r.grid-s E
          .grid-col.grid-r.grid-s M
          .grid-col.grid-r.grid-s A
          .grid-col.grid-r.grid-s I
          .grid-col.grid-r.grid-s L
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
        .grid-row
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .
          .grid-col.grid-r .

      small
        | Copyright &copy; 2019 
        span.text-bold D1 Ventures
        | . All Rights Reserved.